@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';
@use 'src/styles/mixins/utils';

//
// Header container
//
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  padding: 10px 0 0;
  color: variables.$seiska-yellow;
  text-align: center;
}

//
// Header menu
//
.menu {
  display: none;
}

//
// Header brand/logo
//
// .brand {
//   align-self: center;
//   margin-right: variables.$base-spacing;
// }

//
// Header navigation
//
.nav {
  > a {
    height: 22px;
    min-height: 22px;
    margin: 0 31px 0 0;
    padding: 0 calc(#{variables.$base-spacing} / 2);
    font-weight: var(--body-font-weight-bold);
    font-size: 16px;
    line-height: 1.20;
    text-align: center;
  }
}

//
// Header actions
//
.actions {
  position: relative;
  display: flex;
  width: 169px;
  height: 27px;
}

//
// Container for the user button(s)
//
.buttonContainer {
  // this is a visual fix for putting a button with background besides a transparent button
  margin-left: variables.$base-spacing;

  > button:first-child {
    margin-right: calc(#{variables.$base-spacing} / 2);
  }
}

.userMenuButton {
  margin-left: 8px;
}

.brandCentered {
  .brand {
    text-align: center;
  }
}
.profile {
  display: flex;
  align-items: center;
  h2 {
    cursor: pointer;
  }
}

//
// mediaQueries
// --------------------------------

@include responsive.tablet-only() {

  .container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: block;
    margin: 4px 0 0 20px;
    > a {
      svg {
        width: 31px;
        height: 30px;
      }
    }
  }

  .nav {
    display: none;
  }

  .searchContainer {
    position: absolute;
    left: -20px;
    display: flex;
    width: 169px;
  }

}

@include responsive.mobile-only() {

  .container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'menu search .'; // . is left for the seiska hamburger menu
  }

  .menu {
    display: block;
    grid-area: menu;
    margin-top: 4px;

    > a {
      svg {
        width: 31px;
        height: 30px;
      }
    }
  }

  .nav {
    display: none;
  }

  .actions {
    grid-area: search;
    width: 169px;
    justify-self: center;
  }

}
