@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';
@use 'src/styles/mixins/utils';

//
// Header container
//
.container {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  padding: 10px 0 8px;
  color: variables.$seiska-yellow;
  text-align: center;
  background-color: var(--body-background-color);
}

//
// Header menu
//
.menu {
  display: none;
}

//
// Header brand/logo
//
.iconButton {
  width: 36px;
  height: 36px;

  > svg {
    fill: currentColor;
  }
}

.mobileOnly {
  display: none;
  @include responsive.mobile-and-tablet() {
    display: inherit;
  }
}

//
// Header brand
//
.brand {
  align-self: center;
  margin-right: variables.$base-spacing;
}

//
// Header navigation
//
.nav {
  > a {
    height: 22px;
    min-height: 22px;
    margin-right: 22px;
    padding: 0 calc(#{variables.$base-spacing} / 2);
    font-weight: var(--body-font-weight-bold);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
}

//
// Header actions
//
.actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

//
// Container for the user button(s)
//
.buttonContainer {
  // this is a visual fix for putting a button with background besides a transparent button
  margin-left: variables.$base-spacing;

  > button:first-child {
    margin-right: calc(#{variables.$base-spacing} / 2);
  }
}

.userMenuButton {
  margin-left: 8px;
}

.brandCentered {
  .brand {
    text-align: center;
  }
}
.profile {
  display: flex;
  align-items: center;
  h2 {
    cursor: pointer;
  }
}

//
// mediaQueries
// --------------------------------

@include responsive.tablet-only() {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  .menu {
    display: block;
    margin-left: 10px;
    > a {
      svg {
        width: 31px;
        height: 30px;
      }
    }
  }

  .nav {
    display: none;
  }

  .searchContainer {
    display: flex;
    align-self: center;
  }
}

@include responsive.mobile-only() {
  .container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 'menu actions hamburger';
  }

  .hamburger {
    grid-area: hamburger;
    display: flex;
    justify-self: end;
  }

  .menu {
    display: flex;
    grid-area: menu;
    padding-left: 6px;

    > a {
      svg {
        width: 31px;
        height: 30px;
      }
    }
  }

  .nav {
    display: none;
  }

  .actions {
    grid-area: actions;
    justify-self: center;
  }
}
