@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.playlist {
  position: relative;
  top: -60px;
  margin: 0 calc(#{variables.$base-spacing} * 4);
  color: var(--primary-color);
  font-family: var(--body-alt-font-family);
  text-align: center;

  > main {
    margin-top: 6px;
  }

  @include responsive.mobile-only() {
    margin: 0 variables.$base-spacing;
  }

  @include responsive.tablet-only() {
    margin: 0 calc(#{variables.$base-spacing} * 2);
  }

  @include responsive.desktop-small-only() {
    margin: 0 calc(#{variables.$base-spacing} * 3);
  }

  @include responsive.tablet-and-larger {
    top: 0;
  }
}

.main {
  margin: -8px;
}

.header {
  display: flex;
  align-items: center;
  height: 36px;
  margin: 18px 0 30px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.76);

  > h2 {
    width: 100%;
    font-family: var(--body-title-font-family);
    font-weight: var(--body-font-weight-bold);
    font-size: 30px;
    line-height: 1.15;
  }
}

.cell {
  padding: 8px;
}

.error {
  margin: 20px;
  color: var(--primary-color);
}
