@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';

.shelfList {
  max-width: 100vw;
  overflow-x: hidden;
}

.list {
  overflow: visible !important;

  > div {
    overflow: visible !important;
  }
}

.shelfContainer {
  position: relative;
  padding: 0 56px 12px;

  &.featured {
    padding: 0 20% 12px;
  }

  @include responsive.mobile-only() {
    padding: 0 60px 8px variables.$base-spacing;

    &.featured {
      padding: 0 variables.$base-spacing 8px;
    }
  }

  @include responsive.tablet-only() {
    padding: 0 calc(#{variables.$base-spacing} * 2);

    &.featured {
      padding: 0 10% 8px;
    }
  }
}
