@use 'src/styles/variables';
@use 'src/styles/theme';
@use 'src/styles/mixins/responsive';
@use 'src/styles/mixins/typography';

.video {
  color: var(--primary-color);
  font-family: var(--body-font-family);
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.mainPadding {
  padding: 10px 56px 0;

  @include responsive.desktop-small-only() {
    padding: 5px 36px 36px;
  }

  @include responsive.tablet-only() {
    padding: 5px 24px 24px;
  }

  @include responsive.mobile-only() {
    padding-right: 18px;
    padding-bottom: 20px;
    padding-left: 18px;
  }
}

.main {
  display: block;
  max-width: 100vw;

  &.hidden {
    display: none;
  }

  @include responsive.desktop-only() {
    padding-bottom: 100px;
  }
}

.infoEpisode {
  width: 70%;
  max-width: 650px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.76);

  @include responsive.desktop-small-only() {
    min-height: 335px;
  }

  @include responsive.tablet-only() {
    width: 350px;
    min-height: 335px;
  }

  @include responsive.mobile-only() {
    width: 100%;
    min-height: 380px;
    padding-top: 150px;
  }
}

.infoSeries {
  padding-top: 90px !important;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.76);

  @include responsive.mobile-only() {
    width: 100%;
  }
}

.title {
  @include typography.video-title-base;
  // margin-bottom: calc(#{variables.$base-spacing} / 2);
  margin-bottom: 10px;

  font-weight: 700;
  font-style: normal;
  line-height: 1.15;

  &.episode {
    font-size: 25px !important;
  }

  &.series {
    font-size: 33px !important;
  }
}

.metaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.primaryMetadata {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.15px;

  > :first-child {
    margin-right: 8px;
  }

  @include responsive.mobile-only() {
    order: 2;
    margin-top: 0;
    font-size: 14px;
  }
}

// .secondaryMetadata {
//   margin-top: 8px;
//   margin-bottom: 8px;
//   font-size: 20px;
//   line-height: 20px;
//   letter-spacing: 0.5px;

//   @include responsive.mobile-only() {
//     order: 1;
//     margin: 4px 0;
//     font-size: 18px;
//   }
// }

.description {
  min-height: 21px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.buttonBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  > button {
    justify-content: center;
  }

  &.episode {
    @include responsive.mobile-only() {
      padding-top: 30px;
    }
  }

  &.series {
    @include responsive.tablet-only() {
      padding-right: 50%;
    }

    @include responsive.mobile-only() {
      padding-top: 50px;
    }
  }

  @include responsive.desktop-only() {
    padding-top: 80px;
    > button {
      margin-right: 10px;
    }
  }

  @include responsive.mobile-and-tablet() {
    flex-wrap: wrap;

    > button {
      flex: 1;
      padding: 0 12px;

      &:first-child {
        flex-basis: 100%;
      }
    }
  }
  @include responsive.tablet-only() {
    flex-wrap: wrap;

    > button {
      margin: 5px 0;
    }

    > button:nth-child(2) {
      margin-right: 10px;
      margin-left: 0;
    }
  }

  @include responsive.mobile-only() {
    flex-wrap: wrap;
    padding-top: 30px;

    > button:first-child {
      margin-bottom: 8px;
    }

    > button:nth-child(2) {
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

.poster {
  position: absolute;
  z-index: -1;
  height: calc(85vw / 16 * 9);
  background-position: center center;
  background-size: cover;

  -webkit-mask-image: linear-gradient(to right, transparent 15%, #141523 75%), linear-gradient(to top, transparent 15%, #141523 75%);
  -webkit-mask-size: 110% 110%;
  -webkit-mask-position: center;
  -webkit-mask-composite: source-in;
  mask-image: linear-gradient(to right, transparent 15%, #141523 75%), linear-gradient(to top, transparent 15%, #141523 75%);
  mask-size: 110% 110%;
  mask-position: center;
  mask-composite: intersect;

  &.series {
    top: 0;
    right: 0;
    width: 80vw;
    background-repeat: no-repeat;
    // fix for Safari (poster will render below the dynamic blur)
    transform: translateZ(0);

    @include responsive.tablet-only() {
      height: calc(140vw / 16 * 9);
    }

    @include responsive.mobile-only() {
      height: calc(180vw / 16 * 9);
    }
  }

  &.episode {
    left: 0;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    object-position: left;
    background-repeat: no-repeat;
    transform: scale(1.1);
    transform-origin: bottom left;

    &:is([data-type='series']) {
      transform: scale(1.1);
      transform-origin: bottom left;

      @include responsive.tablet-only() {
        height: calc(140vw / 16 * 9);
      }

      @include responsive.mobile-only() {
        height: calc(180vw / 16 * 9);
      }
    }
  }
}

.playIcon {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 35px);
  padding: 25px 30px;
  font-size: xx-large;
  border: 3px solid white;
  border-radius: 100%;
}
